@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@100&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&family=Oswald:wght@500&family=Roboto+Mono:wght@100&display=swap');


*{
    
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{  
    
    background-image: url(../multimedia/img3.jpg);
    background-repeat: no-repeat;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

nav {
    height: 80px;
    width: 100%;
    background: #eeeeee;

}
label.logo { 
    padding: 0 100px;
    line-height: 80px;

}
nav ul{
    float: right;
    margin-right:40px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    text-decoration: none;

}

a.active,a:hover{
    border: 1px solid brown;
    transition: .5s;
}

#logo-gs{
    border-style: none;
}

nav #icon{
    color: black;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}
@media (max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a { 
        font-size: 17px;
    }
}
@media (max-width: 909px){
    nav #icon { 
        display: block;
    }
    nav ul { 
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #eeeeee;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a {
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show {
        left: 0;
    }
}


/*login*/

.form-box {
    width: 450px;
    padding: 80px;
    background: #191919;
    text-align: center;
}

.form-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"], .form-box input[type="password"], .form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid brown;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus, .form-box input[type="password"]:focus {
    width: 280px;
    border-color: #ffffff;
}

.form-box button[type="submit"] {
    border: 0;
    background: brown;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.form-box button[type="submit"]:hover {
    background: none;
}

































